@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-1 {
  background-color: #c5e6f9;
}

.container {
  width: 800px;
  margin: 0 auto;
}

#logo {
  width: 30px;
}

nav {
  padding-top: 20px;
  padding-bottom: 10px;
}

.menu-items {
  list-style: none;
  /* display: inline-block; */
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-item {
  margin: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.menu-item {
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
