* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bigbox {
  background-color: aqua;
}

.container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.column {
  background-color: yellow;
  width: 100px;
  display: inline-block;
}

/* .bigbox {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.column1,
.column2 {
  flex: 1;
  padding: 20px;
}

.column1 {
  background-color: lightblue;
}

.column2 {
  background-color: lightgreen;
} */
